doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Cat Fight
    link(rel='stylesheet', href='/style.css')
  body
    #fighters
    #weapons
    audio
    script(src='/vendor/lodash/lodash.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
    script(src='/models/weapon.js')
    script(src='/models/fighter.js')  
